.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-icon {
  padding: 2px;
  background: white;
  border-radius: 50%;
  margin-right: 8px;
}
.content {
  width: 100%;
  height: 100%;
}
