/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #5CA7D4 }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.color-ok {
    color: rgba(6, 165, 56, .87);
}

mat-card-header {
    margin-left: -16px;
}

/* .mat-drawer-container {
    background: transparent;
} */

